# Firebase Service Account em base64
# cat serviceAccountKey.json | base64 -w 0
FIREBASE_SERVICE_ACCOUNT=base64_do_seu_service_account_json

# API Key publica do Firebase
FIREBASE_API_KEY=AIzaSyAcH10Rplz_axMnLAd1xE-NUDzIowCRieE

SITE_URL=https://tabuadaturbo.com.br
PORT=10000
